.gradient-background
{
    background: rgb(113,132,224);
    background: linear-gradient(90deg, rgba(113,132,224,1) 0%, rgba(252,70,107,1) 74%);
    background-size: 180% 180%;
}
.icon-square{
    height: 3rem;
    width: 3rem;
    border-radius: 0.75rem;
}
.tindog{
height: 100px;
border-radius: 50%;
}
.company{
    height: 30px;
}

.logo
{
    margin-top: 3px;
    margin-left: 45rem;
}
